<h1>Welcome to the Help page</h1>

<p>
	How can we help you?
	We'd love to help, you just need to tell us how first.
	Thanks and good luck fixing your problem.
</p>

<p>
	<i>And here's the 'official' text</i>
	<br/>
	Get help on Ruby on Rails Tutorial at the
	<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
  
